h1, h2, h3, h4, h5, h6 {
	margin: 15px 0;
}
h1, h2, h3, h4 {
	text-transform: uppercase;
}
h1 {
	margin-bottom: 23px;
}
h2 {
	margin-bottom: 26px;
}
h2 {
	margin-top: 6px;
}
h3 {
	margin: 6px 0 16px
}
h4 {
	margin-bottom: 20px;
}
h5 {
	margin-bottom: 6px;
}
h6 {
	margin-bottom: 11px;
}
