.site-logo {
	margin: 0;
	min-width: 101px;
	line-height: 1em;
	letter-spacing: -1.2px;
	&__link {
		text-decoration: none;
		display: block;
		line-height: .8em;
		margin-bottom: 5px;
		&:focus {
			outline: none;
		}
	}
}
.site-description {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 4px;
	margin-top: 0;
}
