.widget.contact-information-widget {
	padding-left: 85px;
	margin: 0 0 42px;
	position: relative;
	h4 {
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 21px;
			left: 0;
			width: 50px;
			height: 1px;
			opacity: .1;
			margin-right: 30px;
		}
	}

	.contact-information-widget__inner {
			li {
				margin: 0s;
				padding: 0;

				&:before {
					display: none;
				}

				.icon {
					position: absolute;
					top: 50%;
					left: -20px;
					transform: translateY(-50%);
				}

				strong {
						font-weight: 400;
						font-size: 1rem;
						opacity: .85;
				}

				h5 {
					position: relative;
					display: flex;
					align-items: center;
					opacity: .85;
					margin: 16px 0 0;
					padding: 0 0 4px;

					&:before {
						content: '+';
						display: inline-block;
						font-size: 19px;
						margin-right: 10px;
						opacity: .5;
					}
				}

				h6 {
						font-size: 0.625rem;
						text-transform: uppercase;
						letter-spacing: 1.5px;
						opacity: .25;
						font-weight: bold;
						margin: 0;
				}
		}
	}
}
