.instagram {
	&__items {
		display: flex;
		margin-left: -4px;
		margin-right: -4px;
		padding-top: 45px;
	}
	&__item {
		position: relative;
		flex: auto;
		min-height: 1px;
		padding: 0;

		.sidebar & {
			flex: 0 0 33.33333%;
			max-width: 33.33333%;
		}
	}
	&__link {
		position: relative;
		overflow: hidden;
		display: block;
		&:hover {
			.instagram__cover {
				opacity: .75;
			}
		}
	}
	&__img {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
	&__cover {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		text-align: center;
		transition: all .25s ease-out;
		&:before {
			@include material-icon;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			content: '\E8F4';
			font-size: 2em;
			transform: translate(-50%, -50%);
		}
	}
}

.widget-instagram {
	.full-width-header-area &,
	.after-content-full-width-area & {
		padding: 0 4px;
	}
}
