#tm_builder_outer_content .tm_pb_button,
#tm_builder_outer_content .more-link{
	border-color: $regular_accent_color_1;
	background-color: $regular_accent_color_1;
	color: $regular_accent_color_2;
}

#tm_builder_outer_content .tm_pb_promo .tm_pb_button.tm_pb_promo_button,
.tm_pb_builder #tm_builder_outer_content .tm_pb_custom_button_icon.btn-secondary  {
	border-color: $regular_accent_color_1;
	background-color: $regular_accent_color_1;
	color: $invert_accent_color_1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_button.tm_pb_contact_submit:hover {
	background-color: $regular_accent_color_3;
	border-color: $regular_accent_color_3;
}

.tm_pb_builder #tm_builder_outer_content .more-link {
	border-color: $regular_accent_color_2;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_button:not(.tm_pb_contact_submit):hover,
.tm_pb_builder #tm_builder_outer_content .more-link:hover {
	color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_custom_button_icon.btn-secondary:hover,
.tm_pb_builder #tm_builder_outer_content .tm_pb_button.tm_pb_custom_button_icon:hover,
#tm_builder_outer_content .tm_pb_promo .tm_pb_button.tm_pb_promo_button:hover {
		border-color: $regular_accent_color_3;
		background-color: $regular_accent_color_3;
		color: $invert_accent_color_1;
}

.download_btn {
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{px};
	color: $regular_accent_color_2;
}

@media (max-width: 992px) {
	.download_btn { font-size: @font_size($h3_font_size, multiple, ceil, 0.7)px; }
}

.download_btn:before,
.download_btn:hover {
	color: $regular_accent_color_1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_contact_submit,
.tm_pb_builder #tm_builder_outer_content .tm_pb_contact_submit:hover {
	color: $invert_accent_color_1;
	border-color: $regular_accent_color_1;
}
